<%- include('header', jsFiles=["sub_common.js", "about.js"], cssFiles=[]) %>
<div id="container" class="about">
    <div class="cont1">
        <div class="center">
            <div class="titleWrap">
                <h2 class="mainTitle poppins">About us</h2>
                <p class="subTitle">함께 할 때 더 특별하니까, 서로 닮아가는 PET LIFE</p>
            </div>
        </div>
    </div>
    <div class="cont2">
        <img class="bigImg" src="/img/about/about_2.jpg" alt="">
        <div class="center">
            <div class="left">
                <img class="logoImg" src="/img/about/logo_pet.png">
                <div class="linkBtns">
                    <a href="https://www.youtube.com/@MLBKOREA/search?query=pet" target="_blank">
                        Youtube 바로가기
                        <span class="material-symbols-outlined arrowIcon">chevron_right</span>
                    </a>
                </div>
            </div>
            <div class="right">
                <h2 class="aboutTit">
                    편안하고 활동적인 프리미엄 펫을 위한,<br>
                    PREMIUM LIFESTYLE PET FASHION BRAND
                </h2>
                <p class="txt">엠엘비(MLB)는 150년 전통의 아메리칸 스포츠 라이프스타일(American Sports Lifestyle)을 상징하는 Major League Baseball의 헤리티지 기반 컬처를 재해석한 프리미엄 라이프스타일 패션 브랜드입니다.</p>

                <p class="txt">1997년, 한국 패션 브랜드로 재탄생한 MLB는 USA SPORTS DNA에 동양의 메시지를 현대적으로 담아내어 소비자 라이프스타일을 선도하고 트렌드를 리딩하고 있습니다.</p>
                    
                <p class="txt">정교하고 디테일한 디지털 마케팅의 실행으로 전세계 소비자들과 만나며 중국, 홍콩, 싱가폴 등 아시아 국가 전역에서 패션을 선도하는 GLOBAL NO.1 MEGABRAND로 도약하고 있습니다.</p>
            </div>
        </div>
    </div>

    <div class="cont3">
        <div class="center">
            <h2 class="title">미디어룸</h2>
            <% if (data.length !== 0) { %>
                <div class="mediaConts">
                    <div class="mediaLeft">
                        <img class="mediaMainImg" src="/img/about/media/<%- data[0].mediaUpload[0] %>">
                    </div>
                    <div class="mediaRight">
                            <% for( let i = 0; i < data.length; i++ ) { %>
                                <% for( let h = 0; h < data[i].mediaUpload.length; h++ ) { %>
                                    <div class="mediaList">
                                        <img src="/upload/<%- data[i].mediaUpload[h] %>">
                                    </div>
                                <% } %>
                            <% } %>
                    </div>
                </div>            
            <% } else { %>
                <div></div>
            <% } %>
             

            <% if (login) { %>
                <% if (login.memberId === "admin") { %>
                    <form id="mediaUploadForm" action="/mediaUpload" method="post" enctype="multipart/form-data">
                        <input type="file" id="mediaUpload" name="mediaUpload" multiple>

                        <button class="mediaUploadBtn" type="submit">이미지 등록</button>
                    </form>
                <% } %>
            <% } %>
             
        </div>
    </div>

    <div class="cont4">
        <div class="center">
            <div class="videoWrap">
                <div class="overlay">
                    <div class="playBtn">
                    </div>
                    <img class="playIcon" src="/img/about/play_icon_wh.svg">
                </div>
                <video muted loop poster="/img/about/about_video.png">
                    <source src="/img/about/about_video.mp4">
                </video>
            </div>
        </div>
    </div>

    <%- include('common/goTop.ejs') %>
</div>
<%- include('footer.ejs') %>