<%- include('header', jsFiles=["fullpage.js", "main.js"], cssFiles=["fullpage.css"]) %>
    <div class="fixMenu">
        <ul>
            <li class="active"><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
        </ul>
    </div>
    <div id="fullpage" class="main">
        <div class="section cont1">
            <div class="mainConts">
                <div class="bgVideo">
                    <div class="overlay"></div>
                    <video loop muted autoplay data-keepplaying>
                        <source src="/img/main/main_1.mp4">
                    </video>
                </div>
                <div class="bigBox">
                    <div class="textWrap">
                        <h2 class="poppins mainTitle">
                            ME<span class="comma">,</span> MY PET<span class="comma">,</span><br>
                            MLB Pet
                        </h2>
                        <p class="subTitle">좋은 건 함께 하고 싶으니까!<br></p>
                    </div>
                </div>
            </div>
            
            <div class="scrollMotion">
                <span class="mouseIcon">
                    <!-- <span class="wheelIcon"></span> -->
                    <span class="material-symbols-outlined arrowDown">
                        expand_more</span>
                </span>        
            </div>
        </div>
        <div class="section conts cont2">
            <div class="contsWrap">
                <div class="bigBox">
                    <div class="textWrap">
                        <h2 class="poppins mainTitle">
                            We are Soulmate<br>Fashion, too
                        </h2>
                        <p class="poppins subTitle">#MLB PET ClOTHES</p>
                    </div>
                </div>
                <div class="rightBox">
                    <div class="right textWrap">
                        <h2 class="poppins mainTitle">
                            We are Soulmate<br>Fashion, too
                        </h2>
                        <p class="poppins subTitle">#MLB PET ClOTHES</p>
                        <a class="linkBtn" href="/shop/clothes">
                            <span class="goText poppins">GO</span>
                            <span class="material-symbols-outlined arrow">
                                arrow_forward</span>
                        </a>
                    </div>
                    <div class="listWrap">
                        <% for(let i = 0; i < 3; i++) { %>
                            <div class="listBox">
                                <a href="/shop/detail/<%- newClothes[i].num %>">
                                    <img class="png" src="/upload/<%-newClothes[i].prdImg[0]%>">
                                    <img class="hover" src="/upload/<%-newClothes[i].addPrdImg[0]%>">
                                </a>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <div class="section conts cont3">
            <div class="contsWrap">
                <div class="bigBox">
                    <div class="textWrap">
                        <h2 class="poppins mainTitle">
                            Petshoinsta<br>Must-have Items
                        </h2>
                        <p class="poppins subTitle">#MLB PET ACC</p>
                    </div>
                </div>
                <div class="rightBox">
                    <div class="right textWrap">
                        <h2 class="poppins mainTitle">
                            Petshoinsta<br>Must-have Items
                        </h2>
                        <p class="poppins subTitle">#MLB PET ACC</p>
                        <a class="linkBtn" href="/shop/acc">
                            <span class="goText poppins">GO</span>
                            <span class="material-symbols-outlined arrow">
                                arrow_forward</span>
                        </a>
                    </div>
                    <div class="listWrap">
                        <% for(let i = 0; i < 3; i++) { %>
                            <div class="listBox">
                                <a href="/shop/detail/<%- newAcc[i].num %>">
                                    <img class="png" src="/upload/<%-newAcc[i].prdImg[0]%>">
                                    <img class="hover" src="/upload/<%-newAcc[i].addPrdImg[0]%>">
                                </a>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <div class="section cont4">
            <div class="contsWrap">
                <img src="/img/main/main_bg_4.jpg" alt="">
                <div class="bigBox">
                    <div class="textWrap">
                        <h2 class="poppins mainTitle">
                            <span class="full">AMERICAN<br>SPORTS LIFESTYLE</span>
                            <span class="line">AMERICAN<br>SPORTS LIFESTYLE</span>
                        </h2>
                        <p class="subTitle">
                            <span class="subText">트렌드와 클래식의 공존</span>
                            <a class="linkBtn" href="#">
                                <span class="goText poppins">GO</span>
                                <span class="material-symbols-outlined arrow">
                                    arrow_forward</span>
                            </a>
                        </p>
                    </div>
                </div>               
            </div>
        </div>
    </div>
</body>
</html>