<%- include('../header', jsFiles=["sub_common.js", "shop/shop_list.js"], cssFiles=[]) %>
    <div id="container" class="shop_list">
        <div class="cont1">
            <div class="center">
                <div class="titleWrap">
                    <h2 class="mainTitle poppins"></h2>
                    <p class="subTitle poppins"></p>
                </div>
            </div>
        </div>
        <div class="cont2">
            <div class="center">
                <div class="lists">
                    <% for( let i = 0; i < data.length; i++ ) { %>
                        <div class="list <%- data[i].category %>">
                            <a href="/shop/detail/<%- data[i].num %>">
                                <div class="imgWrap">
                                    <img src="/upload/<%- data[i].prdImg[0] %>" alt="">
                                    <img src="/upload/<%- data[i].addPrdImg[0] %>" alt="">
                                </div>
                                <div class="textWrap">
                                    <h5 class="prdName"><%- data[i].prdName %></h5>
                                    <p class="price"><span><%- data[i].price %></span>원</p>
                                </div>
                            </a>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>

        <!-- 페이징 번호-->
        <div class="pagingWrap">
            <div class="center">
                <ul class="paging">
                    <!-- 이전버튼 생성 -->
                    <% if (blockStart > totalBlock) { %>
                        <li><a href="?page=<%- blockStart - 1 %>">이전</a></li>
                    <% } %>
                    <!-- 페이징 번호 생성 -->
                    <% for( let i = blockStart; i <= blockEnd; i++ ) { %>
                        <% if (pageNumber == i) { %>
                            <li class="highlight">
                                <a class="poppins" href="?page=<%- i %>"><%- i %></a>
                            </li>
                        <% } else { %>
                            <li>
                                <a href="?page=<%- i %>"><%- i %></a>
                            </li>
                        <% } %>
                    <% } %>
                    <!-- 다음 버튼 생성작업 -->
                    <% if (blockNum < totalBlock) { %>
                        <li><a href="?page=<%- blockEnd + 1 %>">다음</a></li>
                    <% } %>
                </ul>
                
                <% if (login) { %>
                    <% if (login.memberId === "admin") { %>
                        <div class="editBtns">
                            <a href="/shop/edit/register">제품등록</a>
                        </div>
                    <% } %>
                <% } %>
                 
            </div>
        </div>

        <%- include('../common/goTop.ejs') %>

        
    </div>
</body>
</html>