<%- include('../header', jsFiles=["sub_common.js", "board/board_list.js"], cssFiles=[]) %>
<div id="container" class="board_list">
    <div class="cont1">
        <div class="center">
            <div class="titleWrap">
                <h2 class="mainTitle poppins">Board</h2>
                <p class="subTitle">MLB PET의 다양한 소식들을 확인해보세요.</p>
            </div>
        </div>
    </div>

    <div class="cont2">
        <div class="center">
            <div class="boardTop">
                <ul class="boardMenus">
                    <li class="poppins on" data-menu="all"><a href="/board">All</a></li>
                    <li class="poppins" data-menu="notice"><a href="/board/category/notice">Notice</a></li>
                    <li class="poppins" data-menu="press"><a href="/board/category/press">Press</a></li>
                </ul>

                <form id="boardSearch" action="/board/search" method="get">
                    <!-- 검색 입력 옵션 -->
                    <div class="selectTag">
                        <a class="searchSelect" href="#">
                            <span class="searchOptionValue">제목</span>
                            <span class="material-symbols-outlined arrowIcon">
                                expand_more</span>
                        </a>
                        <ul class="searchOption">
                            <li data-value="boardTitle">제목</li>
                            <li data-value="boardConts">내용</li>
                        </ul>

                        <select name="searchOption" id="searchOptionSel">
                            <option value="boardTitle">제목</option>
                            <option value="boardConts">내용</option>
                        </select>
                    </div>

                    <!-- 검색어 입력 데이터 -->
                    <input id="searchText" type="text" name="searchText" value="<%- searchText %>">
            
                    <button id="searchBtn" type="submit">
                        <img src="/img/icon/search_icon.svg" alt="">
                    </button>
                    
                    <input type="hidden" id="currentUrl" name="currentUrl" value="<%- currentUrl %>">
                </form>
            </div>
            <div class="boardList" id="grid">
                <% if (data.length > 0) { %>
                    <% for( let i = 0; i < data.length; i++ ) { %>
                        <div class="list <%- data[i].boardCategory %>">
                            <a href="/board/detail/<%- data[i].boardCount %>">
                                <div class="imgWrap">
                                    <img src="/upload/<%- data[i].boardImg[0] %>">
                                </div>
                                <div class="textWrap">
                                    <h2 class="brdTitle">
                                        <%- data[i].boardTitle %>
                                    </h2>
                                    <p class="brdDate">
                                        <%- data[i].boardDate %>
                                    </p>
                                </div>
                            </a>
                        </div>
                    <% } %>
                 
                <% } %>
            </div>

            <div class="moreWrap">
                <a class="moreBtn" href="#">
                    <span class="material-symbols-outlined plusIcon">add</span>
                </a>
            </div>

            

            <% if (login) { %>
                <% if (login.memberId === "admin") { %>
                    <div class="boardAdminBtn">
                        <a class="uploadBtn" href="/board/upload">게시물 등록</a>
                    </div>
                <% } %>
            <% } %>
        </div>
    </div>   
    <%- include('../common/goTop.ejs') %>
</div>

<%- include('../footer.ejs') %>